extends layout

block content
    h1=title
    <hr>
    p TODO-listan tilanne (perusesimerkki)
        if error
            p Virhe!!
        else
            table
                for task in taskList
                    tr
                        - var id=task.id
                        td: a(href='./Tasks/' + id)= task.id
                        td=task.title
                        td=task.status
                        td: a(href='./Tasks/updatetask/' + id) Muokkaa
                        td: a(href='./Tasks/deletetask/' + id) Poista