extends layout 

block content 
  h1 #{title} 

  form(method='POST' action='') 
    div.form-group 
      label(for='title') Teht채v채: 
      input#title.form-control(type='text', name='title' value=(undefined===task ? '' : task.title)) 
    button.btn.btn-primary(type='submit') Lis채채 

  if errors  
    ul 
      for error in errors 
        li!= error.msg       